.board-details {
  padding-left: 1rem;
  position: relative;
  height: calc(100vh - 44px);
  overflow: hidden;
  background-attachment: fixed !important;
  background-position: 50% !important;
  background-size: cover !important;
  height: 100vh;
  padding-bottom: 10px;

}