.home-page {
  color: $brand-clr6;
  background: linear-gradient(0deg, #fff, #eae6ff 100%);
  overflow-x: hidden;
  height: 100vh;

  .layout {
    margin: auto;
    max-width: 768px;
    height: 100%;
    padding: rem(112px) rem(15px);

    @media(min-width:1200px) {
      max-width: 1140px;
    }
  }

  .hero {
    display: flex;
    align-items: flex-start;
    height: rem(575px);
    max-width: rem(1140px);

    .hero-message {
      width: rem(665px);
      height: rem(360px);
      padding: 0 15px;


      h1 {
        font-size: 3rem;
        margin-bottom: .5rem;
        line-height: 1.25;
        font-family: source-sans-pro-semibold;
      }

      p {
        font-size: rem(22px);
        margin-bottom: 1.5rem;
        line-height: 1.5;
        font-family: source-sans-pro-regular;
      }

      form {
        font-family: source-sans-pro-regular;
        margin-block-end: 1rem;

        input {
          font-family: inherit;
          font-size: 1.25rem;
          color: $clr2;
          width: rem(220px);
          height: rem(45px);
          padding: rem(12px) rem(6px);
          margin-inline-end: 8px;
          border-radius: 6px;
          border: 1px solid $clr1;
          background-color: white;

          &:focus {
            transition: .2s;
            border-color: $brand-clr7;
            box-shadow: 0 0 0 0.2rem rgb(0 101 255 / 25%);
            outline: none;
          }

          &::placeholder {
            color: lighten($clr2, 40%);
          }

          @media (min-width:1200px) {
            display: initial;
            width: rem(360px);
          }

          @media (max-width:870px) {
            width: 50%;
          }

          @media (max-width:600px) {
            display: none;
          }
        }


        button {
          @include btn2($brand-clr5, white);
          font-family: inherit;

          width: em(200px, 20px);
          height: rem(44px);
          margin-inline-start: 8px;
          font-size: 1rem;

          @media (min-width:1200px) {
            width: rem(200px);
            font-size: rem(20px);
          }

          @media (max-width:870px) {
            width: 40%;
          }

          @media (max-width:600px) {
            width: 100%;
          }
        }
      }

      @media (max-width:870px) {
        width: 100%;
      }
    }

    .hero-img {
      display: none;
      height: 100%;
      padding: 0 15px;
      margin-left: 95px;
      margin-right: -95px;


      img {
        width: 100%;
        object-fit: contain;
        height: 100%;
      }

      @media (min-width: 870px) {
        display: initial;
      }
    }

    @media (min-width: 870px) {
      align-items: center;

    }
  }

  @media (max-width:600px) {
    text-align: center;
  }
}