.home-page {
  color: $brand-clr6;
  background: linear-gradient(0deg, #fff, #eae6ff 100%);
  height: 100vh;

  .layout {
    margin: auto;
    width: rem(1110px);
    height: 100%;
    padding: rem(112px) rem(15px);
  }

  .hero {
    display: flex;
    align-items: center;
    height: rem(575px);

    .hero-message {
      width: rem(665px);
      height: rem(360px);


      h1 {
        font-size: 3rem;
        margin-bottom: .5rem;
        line-height: 1.25;
        font-family: source-sans-pro-semibold;
      }

      p {
        font-size: rem(20px);
        margin-bottom: 1.5rem;
        line-height: 1.5;
        font-family: source-sans-pro-regular;
      }

      form {
        font-family: source-sans-pro-regular;

        input {

          transition: .2s;

          font-family: inherit;
          font-size: 1.25rem;
          color: $clr2;
          width: rem(365px);
          height: rem(45px);
          padding: rem(12px) rem(6px);
          margin-inline-end: 8px;
          border-radius: 6px;
          border: 1px solid $clr1;
          background-color: white;

          &:focus {
            border-color: $brand-clr7;
            box-shadow: 0 0 0 0.2rem rgb(0 101 255 / 25%);
            outline: none;
          }

          &::placeholder {
            color: lighten($clr2, 40%);
          }
        }


        button {
          @include btn2($brand-clr5, white);
          font-family: inherit;
          font-size: rem(20px);
          width: rem(255px);
          height: rem(44px);
          margin-inline-start: 8px;
        }
      }
    }

    .hero-img {
      flex-grow: 1;
      height: 100%;
      padding: 15px;
      margin-left: 95px;
      margin-right: -95px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}