.tilted {
  transform: rotate(5deg);
}

.btn-primary {
  @include nice-btn;
}

.btn-secondary {
  @include nice-btn($brand-clr8, $brand-clr4);
}


.dashboard-side-item {
  display: flex;
  justify-content: space-between;
  height: 100%;
  color: $font-clr1;
  font-weight: 700;

  .title {
    font-size: 2rem;
    text-transform: uppercase;
    align-self: flex-start;
  }

  .info {
    font-size: 5rem;
    align-self: flex-end;
  }
}

.dashboard-main-item {
  height: 100%;

  .title {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    font-weight: 700;
    color: $brand-clr4
  }

  .graph-container {
    width: 100%;
    height: 100%;
  }
}