$bg-clr: rgba(250, 251, 252, 255);

$font-clr1: #FFFFFF;

$brand-clr1: #026AA7; // MAIN BRAND
$brand-clr2: #0079BF; // ACTIVE FONT
$brand-clr3: #E4F0F6; // ACTIVE BACKGROUND
$brand-clr4: #172b4d; // BUTTON