$bg-clr: rgba(250, 251, 252, 255);

$font-clr1: #FFFFFF;

$clr1: #ced4da; // INPUT BORDER
$clr2: #495057; // INPUT FONT COLOR

$brand-clr1: #026AA7; // MAIN BRAND
$brand-clr2: #0079BF; // ACTIVE FONT
$brand-clr3: #E4F0F6; // ACTIVE BACKGROUND
$brand-clr4: #172b4d; // BUTTON
$brand-clr5: #0065ff; // BUTTON 2
$brand-clr6: #0d1e42; // FONT
$brand-clr7: #80b2ff; // INPUT OUTLINE
$brand-clr8: #ebecf0; // GROUP BACKGROUND
$brand-clr9: #f4f5f7; // GROUP HEADER BUTTON BACKGROUND
$brand-clr10: #ffd229; // STAR
$brand-clr11: #97a0af; // BOARD-TILE

// LAYOUT BREAKPOINTS
$break-mobile: 770px;
$break-narrow: 770px;
$break-normal: 990px;
$break-wide: 1200px;