.checklist-preview {
  margin-bottom: 24px;
  width: 100%;

  header {
    // display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    height: auto;
    padding: .5rem 0;
    margin-inline-start: 40px;
    margin-block-end: 4px;


    .icon-container {
      position: absolute;
      left: -40px;
      width: 2rem;
      height: 2rem;
      padding: 7px;

      .icon {
        width: 100%;
        height: 100%;
        color: $brand-clr4;
      }
    }

    // .check-square {
    //   position: absolute;
    //   width: 20px;
    //   height: 20px;
    // }

    .inner-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      width: 100%;
      // width: 512px;


      .title {
        margin: 6px 0;
        font-weight: 600;
      }

      .header-btn-container {
        flex-grow: 1;

        .inner-btn-container {
          height: 100%;
          margin-right: 2px;
          float: right;
        }

        button {
          @include btn3;
          margin-inline-start: .5rem;
        }
      }


    }
  }

  .progress-bar-container {
    position: relative;
    height: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;

    .progress {
      font-size: rem(10px);
      color: $clr3;
      text-align: center;
      width: 32px;
    }

    .progress-bar {
      background-color: #091e4214;
      height: 100%;
      width: 512px;
      border-radius: 6rem;
      transition: .14s ease-in;

      &.bg-blue {
        background-color: #5ba4cf !important;
      }

      &.bg-green {
        background-color: #61bd4f !important;
      }
    }
  }

  .btn-container {
    margin-left: 40px;

    button {
      @include btn3;
      margin: .5rem 0;
    }
  }
}