.nice-popup {
   float: right;
   background-color: #ffffff;
   min-width: 190px;
   width: 304px;
   position: absolute;
   right: 0;
   z-index: 1000;

   header {
      margin-bottom: 8px;
      padding: 0 12px;
      position: relative;
      text-align: center;
      display: grid;
      grid-template-columns: 12px 1fr 12px;

      .label {
         color: #172b4d;
         font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
         font-size: 14px;
         line-height: 20px;
         font-weight: 400;
         border-bottom: 1px solid rgba(9, 30, 66, 0.13);
         color: #5e6c84;
         height: 40px;
         display: block;
         line-height: 40px;
         margin: 0;
         overflow: hidden;
         padding: 0 32px;
         position: relative;
         text-overflow: ellipsis;
         white-space: nowrap;
         grid-column: 1 / span 3;
         grid-row: 1;
         text-align: center;
      }

      button {
         grid-column: 3;
         grid-row: 1;
         background: transparent;
         border: none;
         color: #6b778c;
         cursor: pointer;
         margin: 0;
         padding: 0;
         z-index: 2;
         outline: none;
         height: auto;
         width: 10px;
         color: currentcolor;
         display: inline-block;
         fill: rgb(255, 255, 255);
         flex-shrink: 0;
         line-height: 1;
         border-radius: 3px;
         box-sizing: border-box;
         display: inline-block;
         line-height: 20px;
      }
   }

   .main-modal {
      max-height: 585px;
      overflow-x: hidden;
      overflow-y: auto;
      padding: 0 12px 12px;


      .size-section {
         .label {
            @include task-sub-header()
         }

         .box-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
            padding: 4px;
            margin: 0 -4px;
            overflow-x: hidden;

            .box-half {
               height: 62px;
               cursor: pointer;
               background: #FFFFFF;
               border-radius: 3px;
               position: relative;

               box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #0079bf;
               filter: none;

               .background {
                  background-size: cover;
                  height: 28px;
                  border-radius: 3px 3px 0 0;

               }

               .lines {
                  padding: 6px 4px 4px 6px;
                  position: relative;

                  .lines_1 {
                     background: #6B778C;
                     height: 4px;
                     border-radius: 2px;
                     width: 122px;
                  }

                  .lines_2 {
                     background: #6B778C;
                     height: 4px;
                     border-radius: 2px;
                     width: 98px;
                     margin-top: 4px;
                  }

                  .lines_3 {
                     display: flex;
                     margin-top: 6px;

                     .lines_3_1,
                     .lines_3_2 {
                        width: 16px;
                        height: 6px;
                        background: #6B778C;
                        border-radius: 2px;
                        margin-right: 2px;
                     }
                  }

                  .lines_4 {
                     position: absolute;
                     width: 10px;
                     height: 10px;
                     right: 4px;
                     bottom: 4px;
                     background: #6B778C;
                     border-radius: 5px;
                  }
               }

            }

            .box-full {
               height: 62px;
               cursor: pointer;
               background: #FFFFFF;
               border-radius: 3px;
               position: relative;
               background-size: cover;
               background-position: center;
               box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #0079bf;
               filter: none;

               .lines {
                  position: absolute;
                  bottom: 4px;
                  padding: 6px 4px 4px 6px;

                  .lines_1 {
                     background: #6B778C;
                     width: 116px;
                     height: 4px;
                     border-radius: 2px;
                  }

                  .lines_2 {
                     background: #6B778C;
                     width: 92px;
                     margin-top: 4px;
                     height: 4px;
                     border-radius: 2px;
                  }
               }

            }

            :hover {
               filter: saturate(85%) brightness(85%);
            }
         }

         .cover-btn {
            @include button-link();
            grid-column: 1 / -1;
            text-align: center;
         }
      }

      .textcolor-section {
         .label {
            @include task-sub-header()
         }

         .box-container {
            display: grid;
            gap: 8px;
            padding: 4px;
            margin: 0 -4px;
            overflow-x: hidden;
            grid-template-columns: 1fr 1fr;

            .box-full {
               height: 20px;
               cursor: pointer;
               background: #FFFFFF;
               border-radius: 3px;
               position: relative;
               background-size: cover;
               background-position: center;
               padding: 6px 10px 6px 12px;
               box-sizing: unset;
               overflow: hidden;
               white-space: nowrap;

               box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #0079bf;
               filter: none;

               h3 {
                  color: #FFFFFF;
                  margin-bottom: 0;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  font-size: 14px;
                  line-height: 20px;
                  font-weight: 600;
                  margin: 0 0 8px;

                  &.dark {
                     color: #172b4d;
                  }
               }
            }

            :hover {
               filter: saturate(85%) brightness(85%);
            }
         }

      }

      .colors-section {

         .label {
            @include task-sub-header();
            margin-top: 16px;
            margin-bottom: 4px;
         }

         .box-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 8px;
            padding: 4px;
            margin: 0 -4px;
            overflow-x: hidden;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

            button {
               margin: 0;
               border-radius: 3px;
               height: 72px;
               width: 100%;
               background-size: cover;
               background-repeat: no-repeat;
               background-position: center;
               box-shadow: none;
               width: 50px;
               height: 32px;
               cursor: pointer;
               background-color: #7BC86C;
               border: none;

               &:hover {
                  filter: saturate(85%) brightness(85%);
               }
            }
         }
      }

   }



}