@keyframes open-menu {
  0% {
    right: -339px;
  }

  100% {
    right: 0%;
  }
}

@keyframes close-menu {
  0% {
    right: 0%;
  }

  100% {
    right: -339px;
  }
}

.side-menu {
  position: absolute;
  top: 44px;
  width: 339px;
  padding: 0px 4px;
  height: calc(100vh - 44px);
  background-color: #ffff;
  z-index: 10000;
  box-shadow: 0 8px 16px -4px #091e4240, 0 0 0 1px #091e4214;
  display: flex;
  flex-direction: column;

  h3 {
    color: $font-clr2;
  }

  .menu-title {
    line-height: 20px;
    margin: 14px 7px 0px 7px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 600;
    border-bottom: lighten($font-clr2, 60%) 1px solid;
    // position: fixed;

    h3 {
      margin-bottom: 14px;
    }
  }


  .x-btn {
    display: flex;
    position: absolute;
    right: 6px;
    top: 6px;
    align-items: center;
    border: none;
    background-color: none;
    height: 32px;
    color: lighten($font-clr3, 5%);

    &:hover {
      color: darken($font-clr3, 20%)
    }

    .x-icon {
      height: 26px;
      width: 26px;
    }
  }


  &.closed {
    right: -339px;

    animation-name: close-menu;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-direction: forwards;
    animation-play-state: running;
    animation-fill-mode: forwards;
  }

  &.opened {
    right: 0px;

    animation-name: open-menu;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-direction: forwards;
    animation-play-state: running;
    animation-fill-mode: forwards;
  }



}