.task-list {
  flex-grow: 1;
  min-height: 1px;
  display: flex;
  flex-direction: column;
  padding: 0 .25rem;
  margin: 0 .25rem;
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    border-radius: 6rem;
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 6rem;
    background-color: #dadbe2;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 6rem;
    background: #c0c4ce;
  }
}