.task-list {
  flex-grow: 1;
  min-height: 1px;
  display: flex;
  flex-direction: column;
  padding: 0 .25rem;
  margin: 0 .25rem;
  overflow-y: auto;
  overflow-x: hidden;

  @include custom-scrollbar
}