.task-preview {
  position: relative;
  display: flex;
  min-height: 56px;
  background-color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding-bottom: 8px;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 8px;
  max-width: 300px;
  box-shadow: 0 1px 0 #091e4240;
  color: $brand-clr6;

  &:hover button {
    opacity: 0.5;
  }

  .edit-btn {
    position: absolute;
    height: 25px;
    width: 25px;
    top: 3px;
    right: 3px;
    display: flex;
    flex-direction: column;
    min-height: 56px;
    background-color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 0;
    padding-bottom: 8px;
    padding: 10px;
    margin: 0px 8px;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 3px;
    background-color: rgba(177, 171, 171, 0);
    opacity: 0;

    &:hover {
      background-color: $brand-clr8;
      opacity: 0.8;

    &:hover button {
        opacity: 0.7;
    }

    .lines-icon {
        color: darken($color: $brand-clr11, $amount: 10%);
        height: 15px;
        width: 15px;
        margin-top: 8px;
    }

    .edit-btn {
        position: absolute;
        height: 25px;
        width: 25px;
        top: 3px;
        right: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 3px;
        background-color: rgb(255, 255, 255);
        opacity: 0;

        &:hover {
            background-color: $brand-clr8;
            opacity: 1;
            
        }
    }

    .btn-icon {
      height: 1.8rem;
      width: 1.8rem;
    }
  }

  &.styled {
    font-size: 16px;
    font-weight: 500;

    .task-title-container {
      align-self: flex-end;
      z-index: 20;
    }

    &.styled {
        font-size: 16px;
        font-weight: 500;
        flex-direction: row;

        .task-title-container {
            align-self: flex-end;
            z-index: 20;
        }

        &.img {
            min-height: 260px;
            background-size: cover;
            box-shadow: inset 0px -40px 20px 0px rgba(234, 234, 234, 0.856);
        }
    }
  }

}