.task-details-cover {
   background-size: initial;
   background-origin: content-box;
   box-sizing: border-box;
   background-position: left center;
   height: 116px;
   min-height: 116px;
   padding: 0px;
   position: relative;

   button {
      @include btn2(#00000014, #172b4d);
      position:absolute;
      right: 8px;
      bottom: 8px;
   }
}